nav.navbar.navbar-expand-lg.menu
    a.navbar-brand(href="index.html")
        .logoContent
            img.mainLogo(style="width: 6% !important", src="img/elements/logo_white.svg")
            //p myRepublic
    button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarSupportedContent",aria-controls="navbarSupportedContent",aria-expanded="false",aria-label="Toggle navigation")
        span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-0.ml-auto(style="float: right")
            li.nav-item.active
                a.nav-link(href="index.html") Inicio
            li.nav-item
                a.nav-link(href="moradores.html") moradores
            li.nav-item
                a.nav-link(href="indices.html") índices
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle#navbarDropdown(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") controle
                .dropdown-menu(aria-labelledby="navbarDropdown")
                    a.dropdown-item(href="#") Action
                    a.dropdown-item(href="#") Another action
                    .dropdown-divider
                    a.dropdown-item(href="#") Something else here
      
            li.nav-item
                a.nav-link(disabled href="#") fulano