// DEVELOPED BY: Lucas Fonseca dos Santos
///////////////////////////////////////////////////////////////////////////////////
///                                                                             ///
/// [PROJECT]: Name: null                                                       ///
///            URL:  null                                                       ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [DEVELOPMENT]:  Code Developer:   Lucas Fonseca dos Santos.                 ///
///                 System Developer: Lucas Fonseca dos Santos.                 ///
///                 Design Creater:   Lucas Fonseca dos Santos.                 ///
///                 Tester:           Lucas Fonseca dos Santos.                 ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [INFORMATIONS]: Fonts:  Ubuntu, 300, 400, 500, 700                          ///
///                         Open Sans, 300, 400, 600, 700                       ///
///                         Open Sans Condensed, 300, 700                       ///
///                 Colors: #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
///   Use .content to write class .container by bootstrap and .line to write    ///
///   .row class by bootstrap.                                                  ///
///                                                                             ///
///   Use mixin extend_grid() with the params: LG value, MD value, SM value,    ///
///   XS value in respective order to extend grid system of bootstrap.          ///
///                                                                             ///
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///                              FILE INFORMATION                               ///
///-----------------------------------------------------------------------------///
/// [NAME]: Core                                                                ///
/// [CONTENT]: Responsible for all front end struct.                            ///
///////////////////////////////////////////////////////////////////////////////////
doctype html
html
    head
        include include/_mixins.pug
        //----------------------------[METAS]----------------------------//
        +headerSettings("Rensys - Despesas Registradas.", "None description.", "myRepublic", "#5659A6")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include include/_link-imports.pug
        //---------------------------------------------------------------//
    body(page="expense-listation",onload="expenseRegisterSimulation(this)")
        header
            include include/_header.pug
            +republicBanner("incendiaria","registro de despesas")
        main
            section
                .myWrapper
                    +pageTitle("", "home > despesas")
                    .box.personalExpenses(scroll="disable")
                        +sectionTitle("despesas realizadas por você")
                        table.data#personalExpenseList
                            thead
                                tr
                                    td
                                        p data/hora
                                    td
                                        p titulo
                                    td
                                        p status
                                    td
                                        p ação
                            tbody
                                tr
                                    td
                                        p 19/04
                                        p 20:33
                                    td
                                        p Compra Rex
                                    td
                                        label.attention aguardando aprovação
                                    td
                                        .row
                                            a(onclick="removeExpenseRow(this.rowIndex)", title="Clique para remover este registro.", alt="Botão para remover o presente registro.")
                                                img.action(src="img/elements/icons/remove.svg")
                                tr
                                    td
                                        p 19/04
                                        p 20:33
                                    td
                                        p Compra Rex
                                    td
                                        label.attention aguardando aprovação
                                    td
                                        .row
                                            a(onclick="removeExpenseRow(this.rowIndex)", href="#", title="Clique para remover este registro.", alt="Botão para remover o presente registro.")
                                                img.action(src="img/elements/icons/remove.svg")
                                tr
                                    td
                                        p 19/04
                                        p 20:33
                                    td
                                        p Compra Rex
                                    td
                                        label.attention aguardando aprovação
                                    td
                                        .row
                                            a(onclick="removeExpenseRow(this.rowIndex)", href="#", title="Clique para remover este registro.", alt="Botão para remover o presente registro.")
                                                img.action(src="img/elements/icons/remove.svg")
                                tr
                                    td
                                        p 19/04
                                        p 20:33
                                    td
                                        p Compra Rex
                                    td
                                        label.attention aguardando aprovação
                                    td
                                        .row
                                            a(onclick="removeExpenseRow(this.rowIndex)", href="#", title="Clique para remover este registro.", alt="Botão para remover o presente registro.")
                                                img.action(src="img/elements/icons/remove.svg")
                                tr
                                    td
                                        p 19/04
                                        p 20:33
                                    td
                                        p Compra Rex
                                    td
                                        label.allright aprovado
                                    td
                                        .row
                                            a(onclick="removeExpenseRow(this.rowIndex)", href="#", title="Clique para remover este registro.", alt="Botão para remover o presente registro.")
                                                img.action(src="img/elements/icons/remove.svg")
                                tr
                                    td
                                        p 19/04
                                        p 20:33
                                    td
                                        p Compra Rex
                                    td
                                        label.danger desaprovado
                                    td
                                        .row
                                            a(onclick="removeExpenseRow(this.rowIndex)", href="#", title="Clique para remover este registro.", alt="Botão para remover o presente registro.")
                                                img.action(src="img/elements/icons/remove.svg")
                    .box.allExpenses(scroll="disable")
                        +sectionTitle("depesas contabilizadas da república")
                        table.data
                            thead
                                tr
                                    td
                                        p data/hora
                                    td
                                        p titulo
                                    td
                                        p responsável
                                    td
                                        p status
                                    td
                                        p ação
                            tbody
                                tr
                                    td
                                        p 19/04
                                        p 20:33
                                    td
                                        p Compra Rex
                                    td
                                        .row
                                            img(src="img/elements/avatar.jpg")
                                            p Fulano da Silva
                                    td
                                        label.attention aguardando aprovação
                                    td
                                        .row
                                            a(href="#", title="Clique para remover este registro.", alt="Botão para remover o presente registro.")
                                                img.action(src="img/elements/icons/remove.svg")
    include include/_js-imports.pug