// DEVELOPED BY: Lucas Fonseca dos Santos
///////////////////////////////////////////////////////////////////////////////////
///                                                                             ///
/// [PROJECT]: Name: null                                                       ///
///            URL:  null                                                       ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [DEVELOPMENT]:  Code Developer:   Lucas Fonseca dos Santos.                 ///
///                 System Developer: Lucas Fonseca dos Santos.                 ///
///                 Design Creater:   Lucas Fonseca dos Santos.                 ///
///                 Tester:           Lucas Fonseca dos Santos.                 ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [INFORMATIONS]: Fonts:  Ubuntu, 300, 400, 500, 700                          ///
///                         Open Sans, 300, 400, 600, 700                       ///
///                         Open Sans Condensed, 300, 700                       ///
///                 Colors: #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
///   Use .content to write class .container by bootstrap and .line to write    ///
///   .row class by bootstrap.                                                  ///
///                                                                             ///
///   Use mixin extend_grid() with the params: LG value, MD value, SM value,    ///
///   XS value in respective order to extend grid system of bootstrap.          ///
///                                                                             ///
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///                              FILE INFORMATION                               ///
///-----------------------------------------------------------------------------///
/// [NAME]: Core                                                                ///
/// [CONTENT]: Responsible for all front end struct.                            ///
///////////////////////////////////////////////////////////////////////////////////
doctype html
html
    head
        include include/_mixins.pug
        //----------------------------[METAS]----------------------------//
        +headerSettings("myRepublic - Registrar nova despesa","None description.","myRepublic","#5659A6")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include include/_link-imports.pug
        //---------------------------------------------------------------//
    body(page="expense-register")
        header
            include include/_header.pug
            +republicBanner("incendiaria","registrar nova despesa")
        main
            section
                .myWrapper
                    +pageTitle("", "home > controle > registro de despesa")
                    .box.personalExpenses(scroll="disable")
                        +sectionTitle("preencha o formulário a seguir")
                        form(action="expense-listation.html", onsubmit="expenseRegisterSimulation()")
                            .row.registerFormLine
                                .subExpenseRegisterForm
                                    input(type="text", required, name="title", placeholder="Titulo da despesa", title="Insira neste campo um titulo para a despesa a ser registrada. Ex.: Conta de Energia", alt="Campo para informar um titulo para a despesa a ser registrada.")
                                    p Ex.: Conta de Energia
                                .subExpenseRegisterForm
                                    input(type="text", required, name="company", placeholder="Nome do beneficiário", title="Insira neste campo o nome do beneficiário. Ex.: CEMIG", alt="Campo para inserir o nome do beneficiário da despesa a ser registrada.")
                                    p Ex.: CEMIG
                            .row.registerFormLine
                                .subExpenseRegisterForm
                                    input(type="text", required, name="itens", placeholder="Itens da despesa", title="Insira neste campo um titulo para a despesa a ser registrada. Ex.: Conta de Energia", alt="Campo para informar um titulo para a despesa a ser registrada.")
                                    p Ex.: Agua Sanitária, vassoura, limpa vidro, ...
                                .subExpenseRegisterForm
                                    input(type="date",required, pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}", name="expenseDate", placeholder="Data da despesa", title="Selecione neste campo a data em que a despesa ocorreu.", alt="Campo para selecionar a data em que ocorreu a despesa.")
                                    p Ex.: 13/02/2019
                            .row.registerFormLine
                                .subExpenseRegisterForm
                                    input(type="text", required, name="value", placeholder="Valor (15.00)", title="Insira neste campo o valor total da despesa. Ex.: 8.00", alt="Campo para inserir o valor total da despesa a ser contabilizada.")
                                    p Ex.: 15.00
                                .subExpenseRegisterForm
                                    input(type="file", required, name="receipt", alt="Campo para selecionar um arquivo de recibo ou comprovante.", title="Selecione um arquivo de recibo ou cumpom fiscal.")
                                    p - Selecione um arquivo de cupom fiscal ou recibo.
                            .row.specialFormLine
                                textarea(name="additionalInformation",rows="5", alt="Campo para inserir informações adicionais sobre a despesa.", title="Insira neste campo informações adicionais sobre a despesa.", placeholder="Informações adicionais")
                            .row.specialFormLine
                                button.btn-blue(type="submit", alt="Botão para registrar a nova despesa.", title="Clique para registrar a nova despesa.") registrar
                                button.btn-blue(type="submit", alt="Botão para limpar o formulário de registro.", title="Clique para limpar o formulário de registro.") limpar formulário
        footer
            include include/_footer.pug
        include include/_js-imports.pug