// DEVELOPED BY: Lucas Fonseca dos Santos
///////////////////////////////////////////////////////////////////////////////////
///                                                                             ///
/// [PROJECT]: Name: null                                                       ///
///            URL:  null                                                       ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [DEVELOPMENT]:  Code Developer:   Lucas Fonseca dos Santos.                 ///
///                 System Developer: Lucas Fonseca dos Santos.                 ///
///                 Design Creater:   Lucas Fonseca dos Santos.                 ///
///                 Tester:           Lucas Fonseca dos Santos.                 ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [INFORMATIONS]: Fonts:  Ubuntu, 300, 400, 500, 700                          ///
///                         Open Sans, 300, 400, 600, 700                       ///
///                         Open Sans Condensed, 300, 700                       ///
///                 Colors: #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
///   Use .content to write class .container by bootstrap and .line to write    ///
///   .row class by bootstrap.                                                  ///
///                                                                             ///
///   Use mixin extend_grid() with the params: LG value, MD value, SM value,    ///
///   XS value in respective order to extend grid system of bootstrap.          ///
///                                                                             ///
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///                              FILE INFORMATION                               ///
///-----------------------------------------------------------------------------///
/// [NAME]: Core                                                                ///
/// [CONTENT]: Responsible for all front end struct.                            ///
///////////////////////////////////////////////////////////////////////////////////
doctype html
html
    head
        include include/_mixins.pug
        //----------------------------[METAS]----------------------------//
        +headerSettings("myRepublic - Início (Fulano da Silva Ciclano)","myRepublic","None.","#5659A6")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include include/_link-imports.pug
        //---------------------------------------------------------------//
    body(onload="accountValidation(this)")
        header
            include include/_header.pug
        main
            section#index01
                .myWrapper
                    +sectionTitle("informações")
                    .row
                        .subIndex01
                            .informCard
                                .subInformCard
                                    img(src="img/elements/avatar.jpg")
                                .subInformCard
                                    p Seja bem vindo novamente,
                                    h3 Fulano da Silva
                        .subIndex01
                            .informCard
                                .subInformCard
                                    img(src="img/elements/icons/pay.svg")
                                .subInformCard
                                    h3 R$ 600.00
                                    p balanço atual
                        .subIndex01
                            .informCard
                                .subInformCard
                                    img(src="img/elements/icons/money-bag.svg")
                                .subInformCard
                                    h3 R$ 109.90
                                    P crédito atual
                        .subIndex01
                            .informCard
                                .subInformCard
                                    img(src="img/elements/icons/debt.svg")
                                .subInformCard
                                    h3 R$ 400.00
                                    p dívida atual
            section#index02
                .myWrapper
                    .row
                        .subIndex02
                            .box(scroll="enable")
                                +sectionTitle("seus amigos moradores")
                                table.data
                                    thead
                                    tbody
                                        tr
                                            td
                                                img.avatar(src="img/elements/avatar.jpg")
                                            td
                                                p Fulando da silva
                                            td
                                                label.warning administrador
                                        tr
                                            td
                                                img.avatar(src="img/elements/avatar.jpg")
                                            td
                                                p Fulando da silva
                                            td
                                                label.information usuário
                                        tr
                                            td
                                                img.avatar(src="img/elements/avatar.jpg")
                                            td
                                                p Fulando da silva
                                            td
                                                label.information usuário
                                        tr
                                            td
                                                img.avatar(src="img/elements/avatar.jpg")
                                            td
                                                p Fulando da silva
                                            td
                                                label.information usuário
                                        tr
                                            td
                                                img.avatar(src="img/elements/avatar.jpg")
                                            td
                                                p Fulando da silva
                                            td
                                                label.information usuário
                        .subIndex02
                            .box(scroll="disable")
                                +sectionTitle("como andam as minhas despesas?")
                                    canvas#expenses
            
            section#index03
                .myWrapper
                    .row
                        .subIndex03
                            .box(scroll="enable")
                                +sectionTitle("o que eu preciso fazer essa semana?")
                                table.data
                                    thead
                                        tr
                                            td
                                            td
                                                p Tarefa
                                            td
                                                p data
                                            td
                                                p status
                                    tbody
                                        tr
                                            td
                                                img.icon(src="img/elements/icons/cleaning.svg")
                                            td
                                                p Limpar a casa
                                            td
                                                p 15/05
                                            td
                                                label.danger não executado
                                        tr
                                            td
                                                img.icon(src="img/elements/icons/cleaning.svg")
                                            td
                                                p Limpar a casa
                                            td
                                                p 20/05
                                            td
                                                label.allright executado
                                        tr
                                            td
                                                img.icon(src="img/elements/icons/shopping-cart.svg")
                                            td
                                                p Fazer compras da casa
                                            td
                                                p 25/05
                                            td
                                                label.attention agendado
                                        tr
                                            td
                                                img.icon(src="img/elements/icons/fork.svg")
                                            td
                                                p Fazer comida
                                            td
                                                p 25/05
                                            td
                                                label.attention agendado
                        .subIndex03
                            .box(scroll="enable")
                                +sectionTitle("o que andei comprando?")
                                table.data
                                    thead
                                        tr
                                            td
                                            td
                                                p descrição
                                            td
                                                p local
                                            td
                                                p data
                                            td
                                                p status
                                    tbody
                                        tr
                                            td
                                                img.icon(src="img/elements/icons/shopping-cart.svg")
                                            td
                                                p Batata palha, alcachofra, file de merlusa, ...
                                            td
                                                p bretas supermercados
                                            td
                                                p 15/05
                                            td
                                                label.danger não aprovado
                                        tr
                                            td
                                                img.icon(src="img/elements/icons/shopping-cart.svg")
                                            td
                                                p Batata palha, alcachofra, file de merlusa, ...
                                            td
                                                p bretas supermercados
                                            td
                                                p 15/05
                                            td
                                                label.allright aprovado
                                        tr
                                            td
                                                img.icon(src="img/elements/icons/shopping-cart.svg")
                                            td
                                                p Batata palha, alcachofra, file de merlusa, ...
                                            td
                                                p bretas supermercados
                                            td
                                                p 15/05
                                            td
                                                label.danger aguardando aprovação
            section#index04
                .myWrapper
                    .box(scroll="enable")
                        +sectionTitle("feed de mensagens")
                        table.data
                            thead
                                tr
                                    td data/hora
                                    td mensagem
                                    td postado por
                            tbody
                                tr
                                    td 
                                        p 19/02
                                        p 15:30
                                    td  
                                        p Pessoal, notei uma infiltração na parede do banheiro, precisamos combinar um dia para chamar um encanador para reparar, que dia rola pra voces?
                                    td
                                        p Lucas Fonseca dos Santos
                                tr
                                    td 
                                        p 19/02
                                        p 15:30
                                    td  
                                        p Pessoal, notei uma infiltração na parede do banheiro, precisamos combinar um dia para chamar um encanador para reparar, que dia rola pra voces?
                                    td
                                        p Lucas Fonseca dos Santos
                                tr
                                    td 
                                        p 19/02
                                        p 15:30
                                    td  
                                        p Pessoal, notei uma infiltração na parede do banheiro, precisamos combinar um dia para chamar um encanador para reparar, que dia rola pra voces?
                                    td
                                        p Lucas Fonseca dos Santos
                                tr
                                    td 
                                        p 19/02
                                        p 15:30
                                    td  
                                        p Pessoal, notei uma infiltração na parede do banheiro, precisamos combinar um dia para chamar um encanador para reparar, que dia rola pra voces?
                                    td
                                        p Lucas Fonseca dos Santos
                                tr
                                    td 
                                        p 19/02
                                        p 15:30
                                    td  
                                        p Pessoal, notei uma infiltração na parede do banheiro, precisamos combinar um dia para chamar um encanador para reparar, que dia rola pra voces?
                                    td
                                        p Lucas Fonseca dos Santos
                                tr
                                    td 
                                        p 19/02
                                        p 15:30
                                    td  
                                        p Pessoal, notei uma infiltração na parede do banheiro, precisamos combinar um dia para chamar um encanador para reparar, que dia rola pra voces?
                                    td
                                        p Lucas Fonseca dos Santos
                                tr
                                    td 
                                        p 19/02
                                        p 15:30
                                    td  
                                        p Pessoal, notei uma infiltração na parede do banheiro, precisamos combinar um dia para chamar um encanador para reparar, que dia rola pra voces?
                                    td
                                        p Lucas Fonseca dos Santos
            section#index05
                .myWrapper
                    .row
                        .subIndex05
                            .box(scroll="enable")
                                +sectionTitle("meus pertences")
                                table.data
                                    thead
                                        tr
                                            td
                                                p foto
                                            td
                                                p pertence
                                            td
                                                p condição
                                    tbody
                                        tr
                                            td
                                                img.avatar(src="img/elements/data/fec82f9a854c1841d2785ef1bf8eb882.jpg")
                                            td
                                                p televisão lg 32 polegadas
                                            td
                                                label.information individual
                                        tr
                                            td
                                                img.avatar(src="img/elements/data/conjunto-sala-de-jantar-juventus-mesa-com-6-cadeiras-de-madeira,jpg")
                                            td
                                                p mesa da cozinha
                                            td
                                                label.information coletivo
                                        tr
                                            td
                                                img.avatar(src="img/elements/data/imageService.jpg")
                                            td
                                                p sofa
                                            td
                                                label.information coletivo
                        .subIndex05
                            .box(scroll="enable")
                                +sectionTitle("festas para este mês")
                        .subIndex05
                            .box
                                +sectionTitle("outro")
            section#index06
                .myWrapper
                    .box
                        +sectionTitle("calendário")
        footer
            include include/_footer.pug
    include include/_js-imports.pug
    //script
        |   var ctx = document.getElementById('expenses');
        |   var myChart = new Chart(ctx, {
        |       type: 'line',
        |       data: {
        |           labels: ['Red', 'Blue'],
        |           datasets: [{
        |               label: '# of Votes',
        |               data: [12, 19, 20, 15, 12],
        |               backgroundColor: [
        |                   'rgba(255, 99, 132, 0.2)',
        |                   'rgba(54, 162, 235, 0.2)'
        |               ],
        |               borderColor: [
        |                   'rgba(255, 99, 132, 1)',
        |                   'rgba(54, 162, 235, 1)'
        |               ],
        |               borderWidth: 1
        |           }]
        |       },
        |       options: {
        |           scales: {
        |               yAxes: [{
        |                   ticks: {
        |                       beginAtZero: true
        |                   }
        |               }]
        |           }
        |       }
        |   });