// DEVELOPED BY: Lucas Fonseca dos Santos
///////////////////////////////////////////////////////////////////////////////////
///                                                                             ///
/// [PROJECT]: Name: null                                                       ///
///            URL:  null                                                       ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [DEVELOPMENT]:  Code Developer:   Lucas Fonseca dos Santos.                 ///
///                 System Developer: Lucas Fonseca dos Santos.                 ///
///                 Design Creater:   Lucas Fonseca dos Santos.                 ///
///                 Tester:           Lucas Fonseca dos Santos.                 ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [INFORMATIONS]: Fonts:  Ubuntu, 300, 400, 500, 700                          ///
///                         Open Sans, 300, 400, 600, 700                       ///
///                         Open Sans Condensed, 300, 700                       ///
///                 Colors: #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
///   Use .content to write class .container by bootstrap and .line to write    ///
///   .row class by bootstrap.                                                  ///
///                                                                             ///
///   Use mixin extend_grid() with the params: LG value, MD value, SM value,    ///
///   XS value in respective order to extend grid system of bootstrap.          ///
///                                                                             ///
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///                              FILE INFORMATION                               ///
///-----------------------------------------------------------------------------///
/// [NAME]: Core                                                                ///
/// [CONTENT]: Responsible for all front end struct.                            ///
///////////////////////////////////////////////////////////////////////////////////
doctype html
html
    head
        include include/_mixins.pug
        //----------------------------[METAS]----------------------------//
        +headerSettings("myRepublic - Login.","None description.","myRepublic","#5659A6")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include include/_link-imports.pug
        //---------------------------------------------------------------//
    body(page="login")
        section
            .box(scroll="disable")
                form(action="#", method="POST")
                    .loginHeader
                        .subLoginHeader
                           img(src="img/elements/logo_purple.svg", title="Seja bem vindo ao myRepublic.", alt="Logotipo do sistema myRepublic.")
                        .subLoginHeader
                            h1 myRepublic
                    input(name="user",type="email" placeholder="Usuário", title="Insira seu usuário aqui. Ex. João da Silva", alt="Campo para inserir o usuário.")
                    input(name="password",type="password", placeholder="Senha", title="Insira sua senha aqui.", alt="Campo para inserir a senha.")
                    button(type="button",onclick="loginSimulation(this.form);", title="Clique para acessar sua conta.", alt="Botão para acessar sua conta.") Acessar
    include include/_js-imports.pug
