// DEVELOPED BY: Lucas Fonseca dos Santos
///////////////////////////////////////////////////////////////////////////////////
///                                                                             ///
/// [PROJECT]: Name: null                                                       ///
///            URL:  null                                                       ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [DEVELOPMENT]:  Code Developer:   Lucas Fonseca dos Santos.                 ///
///                 System Developer: Lucas Fonseca dos Santos.                 ///
///                 Design Creater:   Lucas Fonseca dos Santos.                 ///
///                 Tester:           Lucas Fonseca dos Santos.                 ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [INFORMATIONS]: Fonts:  Ubuntu, 300, 400, 500, 700                          ///
///                         Open Sans, 300, 400, 600, 700                       ///
///                         Open Sans Condensed, 300, 700                       ///
///                 Colors: #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
///   Use .content to write class .container by bootstrap and .line to write    ///
///   .row class by bootstrap.                                                  ///
///                                                                             ///
///   Use mixin extend_grid() with the params: LG value, MD value, SM value,    ///
///   XS value in respective order to extend grid system of bootstrap.          ///
///                                                                             ///
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///                              FILE INFORMATION                               ///
///-----------------------------------------------------------------------------///
/// [NAME]: Core                                                                ///
/// [CONTENT]: Responsible for all front end struct.                            ///
///////////////////////////////////////////////////////////////////////////////////
doctype html
html
    head
        include include/_mixins.pug
        //----------------------------[METAS]----------------------------//
        +headerSettings("myRepublic - Detalhes da Tarefa","None description.","myRepublic","#5659A6")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include include/_link-imports.pug
        //---------------------------------------------------------------//
    body(onload="", page="message-feed")
        header
            include include/_header.pug
            +republicBanner("incendiaria","Mural de Mensagens")
        main
            section
                .myWrapper
                    +pageTitle("", "Mural de Mensagens")
                    .row
                        .container-fluid.marginTop
                            +makeBox("disable","Mensagens postatdas")
                                table.data#messagesTable1
                                    thead
                                        tr
                                            td
                                                p Data
                                            td
                                                p Mensagem
                                            td
                                                p Postado por:
                                            td
                                                p Opção
                                    tbody
                                        tr
                                            td
                                                p 13/05
                                                p 23:55 pm
                                            td
                                                p Boa noite! A máquina de lavar quebrou de novo, será que alguem pode chamar um tecnico para arrumar?
                                            td
                                                p Lucas Fonseca dos Santos
                                            td
                                                | botoes
        footer
            include include/_footer.pug
        include include/_js-imports.pug