// DEVELOPED BY: Lucas Fonseca dos Santos
///////////////////////////////////////////////////////////////////////////////////
///                                                                             ///
/// [PROJECT]: Name: null                                                       ///
///            URL:  null                                                       ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [DEVELOPMENT]:  Code Developer:   Lucas Fonseca dos Santos.                 ///
///                 System Developer: Lucas Fonseca dos Santos.                 ///
///                 Design Creater:   Lucas Fonseca dos Santos.                 ///
///                 Tester:           Lucas Fonseca dos Santos.                 ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [INFORMATIONS]: Fonts:  Ubuntu, 300, 400, 500, 700                          ///
///                         Open Sans, 300, 400, 600, 700                       ///
///                         Open Sans Condensed, 300, 700                       ///
///                 Colors: #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
///   Use .content to write class .container by bootstrap and .line to write    ///
///   .row class by bootstrap.                                                  ///
///                                                                             ///
///   Use mixin extend_grid() with the params: LG value, MD value, SM value,    ///
///   XS value in respective order to extend grid system of bootstrap.          ///
///                                                                             ///
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///                              FILE INFORMATION                               ///
///-----------------------------------------------------------------------------///
/// [NAME]: Core                                                                ///
/// [CONTENT]: Responsible for all front end struct.                            ///
///////////////////////////////////////////////////////////////////////////////////
doctype html
html
    head
        include include/_mixins.pug
        //----------------------------[METAS]----------------------------//
        +headerSettings("myRepublic - Mensagem.","None description.","myRepublic","#5659A6")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include include/_link-imports.pug
        //---------------------------------------------------------------//
    body(onload="", page="message")
        header
            include include/_header.pug
            +republicBanner("incendiaria","Detalhes da Mensagem")
        main
            section
                .myWrapper
                    +pageTitle("", "Titulo da Mensagem")
                    .row.informCardRow
                        .informCardContainer
                            +makeInformCard("img/elements/icons/calendar.svg","bg-indigo","Data","13/02/2019")
                        .informCardContainer
                            +makeInformCard("img/elements/icons/manager.svg","bg-indigo","Postado por","Fulano Ciclano da Silva")
                    .row
                        .container-fluid
                            +makeBox("disable","Rotina programada para esta tarefa")
                                p.
                                    Todavia, a consulta aos diversos militantes causa impacto indireto na reavaliação dos índices pretendidos. Gostaria de enfatizar que o desenvolvimento contínuo de distintas formas de atuação prepara-nos para enfrentar situações atípicas decorrentes de todos os recursos funcionais envolvidos. Caros amigos, a expansão dos mercados mundiais é uma das consequências do processo de comunicação como um todo. Percebemos, cada vez mais, que a consolidação das estruturas estende o alcance e a importância do remanejamento dos quadros funcionais. A prática cotidiana prova que o julgamento imparcial das eventualidades apresenta tendências no sentido de aprovar a manutenção de alternativas às soluções ortodoxas. 
        footer
            include include/_footer.pug
        include include/_js-imports.pug