// DEVELOPED BY: Lucas Fonseca dos Santos
///////////////////////////////////////////////////////////////////////////////////
///                                                                             ///
/// [PROJECT]: Name: null                                                       ///
///            URL:  null                                                       ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [DEVELOPMENT]:  Code Developer:   Lucas Fonseca dos Santos.                 ///
///                 System Developer: Lucas Fonseca dos Santos.                 ///
///                 Design Creater:   Lucas Fonseca dos Santos.                 ///
///                 Tester:           Lucas Fonseca dos Santos.                 ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [INFORMATIONS]: Fonts:  Ubuntu, 300, 400, 500, 700                          ///
///                         Open Sans, 300, 400, 600, 700                       ///
///                         Open Sans Condensed, 300, 700                       ///
///                 Colors: #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
///   Use .content to write class .container by bootstrap and .line to write    ///
///   .row class by bootstrap.                                                  ///
///                                                                             ///
///   Use mixin extend_grid() with the params: LG value, MD value, SM value,    ///
///   XS value in respective order to extend grid system of bootstrap.          ///
///                                                                             ///
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///                              FILE INFORMATION                               ///
///-----------------------------------------------------------------------------///
/// [NAME]: Core                                                                ///
/// [CONTENT]: Responsible for all front end struct.                            ///
///////////////////////////////////////////////////////////////////////////////////
doctype html
html
    head
        include include/_mixins.pug
        //----------------------------[METAS]----------------------------//
        +headerSettings("myRepublic - Tarefas.","None description.","myRepublic","#5659A6")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        include include/_link-imports.pug
        //---------------------------------------------------------------//
    body(page="task-listation", onload="taskRegisterSimulation(this)")
        header
            include include/_header.pug
            +republicBanner("keskara", "tarefas da república")
        main
            section
                .myWrapper
                    +pageTitle("", "home > tarefas")
                    .box.personalTasks(scroll="disable")
                        +sectionTitle("tarefas que foram designadas a você")
                        table.data#personalTaskList
                            thead
                                tr
                                    td
                                        p foto
                                    td
                                        p tarefa
                                    td
                                        p observação
                            tbody
                                tr
                                    td
                                        img.icon(src="img/elements/icons/cleaning.svg")
                                    td
                                        p Limpar a sala
                                    td
                                        label.information nenhuma
                                tr
                                    td
                                        img.icon(src="img/elements/icons/cleaning.svg")
                                    td
                                        p Limpar o banheiro
                                    td
                                        label.notification 1 nova observação
                    .box.allTasks(scroll="disable")
                        +sectionTitle("tarefas da república")
                        table.data
                            thead
                                tr
                                    td
                                        p foto
                                    td
                                        p tarefa
                                    td
                                        p responsável
                                    td
                                        p ultima execução
                            tbody
                                tr
                                    td
                                        img.icon(src="img/elements/icons/cleaning.svg")
                                    td
                                        p Limpar a sala
                                    td
                                        .row
                                            img(src="img/elements/avatar.jpg")
                                            p Fulano da Silva
                                    td
                                        label.allright executada
                                tr
                                    td
                                        img.icon(src="img/elements/icons/cleaning.svg")
                                    td
                                        p Limpar a sala
                                    td
                                        .row
                                            img(src="img/elements/avatar.jpg")
                                            p Fulano da Silva
                                    td
                                        label.danger não executada
        footer
            include include/_footer.pug
        include include/_js-imports.pug