// DEVELOPED BY: Lucas Fonseca dos Santos
///////////////////////////////////////////////////////////////////////////////////
///                                                                             ///
/// [PROJECT]: Name: null                                                       ///
///            URL:  null                                                       ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [DEVELOPMENT]:  Code Developer:   Lucas Fonseca dos Santos.                 ///
///                 System Developer: Lucas Fonseca dos Santos.                 ///
///                 Design Creater:   Lucas Fonseca dos Santos.                 ///
///                 Tester:           Lucas Fonseca dos Santos.                 ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
/// [INFORMATIONS]: Fonts:  Ubuntu, 300, 400, 500, 700                          ///
///                         Open Sans, 300, 400, 600, 700                       ///
///                         Open Sans Condensed, 300, 700                       ///
///                 Colors: #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
///                         #000000                                             ///
/// +-------------------------------------------------------------------------+ ///
///                                                                             ///
///   Use .content to write class .container by bootstrap and .line to write    ///
///   .row class by bootstrap.                                                  ///
///                                                                             ///
///   Use mixin extend_grid() with the params: LG value, MD value, SM value,    ///
///   XS value in respective order to extend grid system of bootstrap.          ///
///                                                                             ///
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///                              FILE INFORMATION                               ///
///-----------------------------------------------------------------------------///
/// [NAME]: Core                                                                ///
/// [CONTENT]: Responsible for all front end struct.                            ///
///////////////////////////////////////////////////////////////////////////////////
doctype html
html
    head
        //----------------------------[METAS]----------------------------//
        title myRepublic - Tarefas
        meta(charset="utf-8")
        meta(name="keywords", content="")
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="robot", content="index")
        meta(name="googlebot", content="index")
        meta(name="google", content="nositelinkscd searchbox")
        meta(name="author", content="Lucas Fonseca dos Santos")
        meta(name="myRepublic - Tarefas")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="revisit-after", content="7 days")
        meta(name="copyright", content="LCF COMPANY, Inc. 2019")
        meta(name="rating", content="general")
        meta(name="distribution", content="global")
        meta(name="language", content="pt")
        meta(http-equiv="content-language", content="pt-br")
        meta(name="MobileOptimized", content="320")
        meta(http-equiv="imagetoolbar", content="no")
        meta(http-equiv="content-script-type", content="text/javascript")
        meta(http-equiv="content-style-type", content="text/css")
        meta(name="DC.title", content="myRepublic - Tarefas")
        meta(name="DC.creator", content="Lucas Fonseca dos Santos")
        meta(name="DC.creator.address", content="null")
        meta(name="DC.description", content="")
        meta(name="DC.publisher", content="null")
        meta(name="DC.format", content="text/html")
        meta(itemprop="name", content="myRepublic - Tarefas")
        meta(itemprop="description", content="null")
        meta(itemprop="image", content="")
        meta(name="theme-color", content="")
        meta(name="msapplication-TileColor", content="#5659A6")
        meta(name="msapplication-TileImage", content="img/favicon/ms-icon-144x144.png")
        //---------------------------------------------------------------//
        //---------------------------[IMPORTS]---------------------------//
        link(rel="stylesheet", href="ext/css/core.css")
        link(rel="apple-touch-icon", sizes="57x57", href="img/favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="img/favicon/apple-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="img/favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="img/favicon/apple-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="img/favicon/apple-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="img/favicon/apple-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="img/favicon/apple-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="img/favicon/apple-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/apple-icon-180x180.png")
        link(rel="icon", type="image/png", sizes="192x192", href="img/favicon/android-icon-192x192.png")
        link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="96x96", href="img/favicon/favicon-96x96.png")
        link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
        link(rel="manifest", href="img/favicon/manifest.json")
        //---------------------------------------------------------------//
    body(page="task-listation")
        header
            include include/header.pug
            section.republicBanner
                p república
                h1 keskara
                .titleLine
        main
            section
                .myWrapper
                    .pageTitle
                        .row
                            .subPageTitle
                                h2 tarefas da república
                            .subPageTitle
                                p home > tarefas
                    .box.personalTasks(scroll="disable")
                        .sectionTitle
                            h2 tarefas que foram designadas a você
                        table.data
                            thead
                                tr
                                    td
                                        p foto
                                    td
                                        p tarefa
                                    td
                                        p observação
                            tbody
                                tr
                                    td
                                        img.icon(src="img/elements/icons/cleaning.svg")
                                    td
                                        p Limpar a sala
                                    td
                                        label.information nenhuma
                                tr
                                    td
                                        img.icon(src="img/elements/icons/cleaning.svg")
                                    td
                                        p Limpar o banheiro
                                    td
                                        label.notification 1 nova observação
                    .box.allTasks(scroll="disable")
                        .sectionTitle
                            h2 tarefas da república
                        table.data
                            thead
                                tr
                                    td
                                        p foto
                                    td
                                        p tarefa
                                    td
                                        p responsável
                                    td
                                        p ultima execução
                            tbody
                                tr
                                    td
                                        img.icon(src="img/elements/icons/cleaning.svg")
                                    td
                                        p Limpar a sala
                                    td
                                        .row
                                            img(src="img/elements/avatar.jpg")
                                            p Fulano da Silva
                                    td
                                        label.allright executada
                                tr
                                    td
                                        img.icon(src="img/elements/icons/cleaning.svg")
                                    td
                                        p Limpar a sala
                                    td
                                        .row
                                            img(src="img/elements/avatar.jpg")
                                            p Fulano da Silva
                                    td
                                        label.danger não executada
        footer
            include include/footer.pug