body[page="dweller"]
    .subDweller
        display: flex
        &:nth-child(1)
            @include responsive_system(2,2,2,2,2)
        &:nth-child(2)
            @include responsive_system(10,10,10,10,10)
        .box
            //display: block
    #profilePic
        width: 100%
        height: 100%
    .subDwellerDetails
        @include responsive_system(6,6,6,6,6)
        label
            margin-right: 1em
    .subDweller2
        @include responsive_system(4,4,4,4,4)
        margin-top: 2em
        display: flex
    #dwellerTable1 thead tr td,#dwellerTable1 tbody tr td
        &:nth-child(1)
            width: 10%
        &:nth-child(2)
            width: 30%
        &:nth-child(3)
            width: 30%
            text-align: center
        &:nth-child(4)
            width: 30%
            text-align: center
    #dwellerTable2 thead tr td,#dwellerTable2 tbody tr td
        &:nth-child(1)
            width: 10%
        &:nth-child(2)
            width: 30%
        &:nth-child(3)
            width: 30%
            text-align: center
        &:nth-child(4)
            width: 30%
            text-align: center
    #dwellerTable3 thead tr td,#dwellerTable3 tbody tr td
        &:nth-child(1)
            width: 10%
        &:nth-child(2)
            width: 30%
        &:nth-child(3)
            width: 30%
            text-align: center
        &:nth-child(4)
            width: 30%
            text-align: center
