body[page="login"]
    section
        background-color: transparent
        width: 100%
    padding: 0px
    min-height: 100vh
    height: auto
    display: flex
    justify-content: center
    align-items: center
    background: #8E2DE2
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2)
    background: linear-gradient(to right, #4A00E0, #8E2DE2)
    h1
        &:after
            content: &#169
            font:
                size: .5em
                weight: 300
    .box
        width: 30% !important
        display: flex
        justify-content: center
        align-items: center
        .loginHeader
            .subLoginHeader
                img
                    width: 100% !important
                &:first-child
                    @include responsive_system(4,4,4,4,4)
                &:last-child
                    @include responsive_system(8,8,8,8,8)
        form
            text-align: center
    
//----------------------------------[ RESPONSIVE COND. ]-------------------------//
//@media screen and (min-width: 1921px)
//@media screen and (max-width: 1750px) and (min-width: 1550px)
//@media screen and (max-width: 1549px) and (min-width: 1350px)
//@media screen and (max-width: 1349px) and (min-width: 1200px)
//@media screen and (max-width: 1199px) and (min-width: 992px)
//@media screen and (max-width: 991px) and (min-width: 768px)
//@media screen and (max-width: 767px) and (min-width: 550px)
//@media screen and (max-width: 549px) and (min-width: 350px)
//@media screen and (max-width: 349px)
//-------------------------------------------------------------------------------//