body[page="message"]
    .informCardRow
        margin-bottom: 2em
    .informCardContainer
        @include responsive_system(6,6,6,6,6)
        .informCard
            background-color: $__COLOR__white
            img
                width: 30% !important
            &:hover
                background-color: darken($__COLOR__white, 5)
            h3, p
                color: $__COLOR__indigo !important
    .box
        p
            color: $__COLOR__dark
    